<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WebAuthn Demo</title>
</head>
<body>

<H1>WebAuthn demo using SpringBoot</H1>

Pick an action to perform:

<ol>
  <li><a href="/register"> Create an account</a></li>
  <li><a href="/webauthn/login">Login with your account</a></li>
  <li><a href="/quotes">quotes page (requires you to be logged in)</a></li>
  <li><a href="/h2-console">H2-console use 'jdbc:h2:mem:db' for jdbc url</a></li>
</ol>

Current time on the server is : <span th:text="${time}"></span>
</body>
</html>
