<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new Account</title>
    <script src="/js/base64/base64.js"></script>
    <script src="/js/jquery/jquery-3.6.0.min.js"></script>

    <!-- CSRF header name and value to be used by froms on this page to talk to the server -->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<H1>Create a new account</H1>

<form id="registerForm">
    <div>
        <input id="fullName" type="text" name="fullName" placeholder="Full name"/>
    </div>
    <div>
        <input id="email" type="email" name="email" placeholder="email"/>
    </div>
    <button type="submit">
        Submit
    </button>
</form>

<script>

    /**
     * Read the values from the form on the page and then call the server, to
     * get a configuration settings to use when calling the WebAuthentication
     * API
     */
    $(document).ready(function () {
        $("#registerForm").submit(function (event) {
            const formData = {
                fullName: $("#fullName").val(),
                email: $("#email").val()
            };
            startRegistration(formData);
            event.preventDefault();
        });
    });

    /**
     * Call the server with the form data fields converted to a JSON
     * object, the server will return a JSON object containing all
     * the settings that are needed to sucessfully call the browsers
     * WebAuthn API to generate the public / private key pair in the
     * authenticator device.
     *
     * @param formData an object containing the form values to send to the server.
     */
    function startRegistration(formData) {
        logTitle("Step 0: Start the registration process with the server")
        logRequest(formData)
        $.ajax({
            type: "POST",
            url: "/webauthn/register/start",
            data: JSON.stringify(formData),
            dataType: "json",
            contentType: "application/json",
            beforeSend: function (xhr) {
                // spring security has CSRF protection turned on, if we don't
                // set the correct CSRF header and value spring security will
                // block the request from getting to the Spring MVC controller
                // that will process this request.
                const token = $("meta[name='_csrf']").attr("content")
                const header = $("meta[name='_csrf_header']").attr("content")
                xhr.setRequestHeader(header, token)
            },
            success: function (data, textStatus, jqXHR) {
                logResponse(data)
                createCredential(data)
            }
        });
    }

    /**
     * This functions calls out the WebAuthentication browser API to have the authenticator
     * create a public private key pair.
     * @param settings
     */
    function createCredential(settings) {
        logTitle("Step 1: Use options from server to create credential in authenticator")
        const publicKey = {
            challenge: toByteArray(settings.credentialCreationOptions.challenge),
            rp: {
                name: settings.credentialCreationOptions.rp.name,
                id: settings.credentialCreationOptions.rp.id,
            },
            user: {
                name: settings.credentialCreationOptions.user.name,
                displayName: settings.credentialCreationOptions.user.displayName,
                id: toByteArray(settings.credentialCreationOptions.user.id)
            },
            pubKeyCredParams: settings.credentialCreationOptions.pubKeyCredParams,
            attestation: settings.credentialCreationOptions.attestation
        }
        console.log(publicKey)
        navigator.credentials.create({'publicKey': publicKey})
            .then((newCredentialInfo) => {
                console.log('SUCCESS', newCredentialInfo)
                finishRegistration(settings,newCredentialInfo)
            })
            .catch((error) => {
                console.log('FAIL', error)
            })
    }

    function finishRegistration(settings, newCredentialInfo) {
        const finishRequest = {
            flowId: settings.flowId,
            credential: {
                id: newCredentialInfo.id,
                rawId: fromByteArray(newCredentialInfo.rawId),
                type: newCredentialInfo.type,
                response: {
                    clientDataJSON: fromByteArray(newCredentialInfo.response.clientDataJSON),
                    attestationObject: fromByteArray(newCredentialInfo.response.attestationObject)
                },
                clientExtensionResults: {}
            }
        }

        console.log(finishRequest)
        logRequest(finishRequest)

        $.ajax({
            type: "POST",
            url: "/webauthn/register/finish",
            data: JSON.stringify(finishRequest),
            dataType: "json",
            contentType: "application/json",
            beforeSend: function (xhr) {
                // spring security has CSRF protection turned on, if we don't
                // set the correct CSRF header and value spring security will
                // block the request from getting to the Spring MVC controller
                // that will process this request.
                const token = $("meta[name='_csrf']").attr("content")
                const header = $("meta[name='_csrf_header']").attr("content")
                xhr.setRequestHeader(header, token)
            },
            success: function (data, textStatus, jqXHR) {
                logResponse(data)
            }
        });
    }

    function logTitle(title) {
        const h2 = $('<h2></h2>').text(title)
        $("body").append(h2)
    }

    function logJson(title, data) {
        const response = JSON.stringify(data, null, 2);
        const p = $('<p>' + title + '</p>')
        const pre = $('<pre></pre>').text(response)
        $("body").append(p, pre)
    }

    function logRequest(data) {
        const response = JSON.stringify(data, null, 2);
        const p = $('<p>Request:</p>')
        const pre = $('<pre></pre>').text(response)
        $("body").append(p, pre)
    }

    function logResponse(data) {
        const response = JSON.stringify(data, null, 2);
        const p = $('<p>Response:</p>')
        const pre = $('<pre></pre>').text(response)
        $("body").append(p, pre)
    }
</script>
</body>
</html>
