<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create a new Account</title>
</head>
<body>

<H1>Create a new account</H1>

<script>
    var challenge = new Uint8Array(32);
    window.crypto.getRandomValues(challenge);

    var userID = 'Kosv9fPtkDoh4Oz7Yq/pVgWHS8HhdlCto5cR0aBoVMw='
    var id = Uint8Array.from(window.atob(userID), c=>c.charCodeAt(0))

    var publicKey = {
        'challenge': challenge,

        'rp': {
            'name': 'Example Inc.'
        },

        'user': {
            'id': id,
            'name': 'alice@example.com',
            'displayName': 'Alice Liddell'
        },

        'pubKeyCredParams': [
            { 'type': 'public-key', 'alg': -7  },
            { 'type': 'public-key', 'alg': -257 }
        ],

        'attestation': 'direct'
    }

    navigator.credentials.create({ 'publicKey': publicKey })
        .then((newCredentialInfo) => {
            console.log('SUCCESS', newCredentialInfo)
        })
        .catch((error) => {
            console.log('FAIL', error)
        })

</script>
</body>
</html>
